<mat-card>
  <mat-card-content>
    <form class="user-form">
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-100">
          <mat-label>Nome:</mat-label>
          <input
          type="text"
          name="nome"
          matInput
          [(ngModel)]="userSelectedChild.name"
          required/>
          <mat-error>O <strong>Nome</strong> é obrigatório</mat-error>
        </mat-form-field>
      </div>
       <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Usuário:</mat-label>
          <input
            type="text"
            name="usuario"
            matInput
            [(ngModel)]="userSelectedChild.username"
            [ngModelOptions]="{ updateOn: 'blur'}"
            #usernameControl="ngModel"
            [appCredentialsValidator]="'username'"
            required
          />
          <mat-hint>O <strong>Usuário</strong> será utilizado para o login.</mat-hint>
          <mat-error *ngIf="usernameControl.hasError('required')">
            O <strong>Usuário</strong> é obrigatório!
          </mat-error>
          <mat-error *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')">
            Este <strong>Usuário</strong> já está sendo utilizado.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>E-mail:</mat-label>
          <input
            type="text"
            name="e-mail"
            matInput
            [(ngModel)]="userSelectedChild.email"
            [ngModelOptions]="{ updateOn: 'blur'}"
            #emailControl="ngModel"
            [appCredentialsValidator]="'email'"
            appEmailPatternValidator
            required
          />
          <mat-error *ngIf="emailControl.hasError('required')">
            O <strong>E-mail</strong> é obrigatório!
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('emailPatternInvalid') && !emailControl.hasError('required')">
            O <strong>E-mail</strong> é inválido!
          </mat-error>
          <mat-error
            *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">
            Este <strong>E-mail</strong> já está sendo utilizado.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
